.downlbig {
    text-underline-offset: none;
    text-decoration-line: none;
    text-align: center;
    color: black;
  }
  
  .downl1{
    color: black;
    text-underline-offset: none;
    text-decoration-line: none;
  }
  
  .downl2{
    color: black;
    text-underline-offset: none;
    text-decoration-line: none;
  }
  
  
  .downl3{
    color: black;
    text-underline-offset: none;
    text-decoration-line: none;
  }